<h1>ビデオ</h1>
  <% @videos.each_with_index do |video, i| %>
  <div class="grid-22">
    <div class="thumbnail">
  <p><%= video.snippet.title %></p>
  <div id="console_log<%= i %>"></div>
  <div iframe-content>
  <iframe id="player<%= i %>" type="text/html" width="300" height="300"
  src="http://www.youtube.com/embed/<%= video.id.videoId %>?enablejsapi=1"
  frameborder="0"></iframe>
</div>
</div>
</div>
  <% end %>



<script>

var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


var player;
function onYouTubeIframeAPIReady() {
  for (var i = 0; i <= 22; i ++){
   player = new YT.Player('player' + i, {
   events: {
     'onReady': onPlayerReady,
    //  'onStateChange': onPlayerStateChange
   }
 });
}
}


function onPlayerReady(event) {
  for (var i = 0; i <= 22; i ++){
    var embedCode = event.target.getVideoUrl()
       if (event.target.getIframe().id == 'player' + i){
         console.log = function (log) {
document.getElementById('console_log' + i).innerHTML += log + "<br>";
}

            console.log(embedCode);
       }
     };
   }

    //  var done = false;
    //        function onPlayerStateChange(event) {
    //          var embedCode = event.target.getVideoUrl()
    //           if (document.getElementById('embed-code')) {
    //             document.getElementById('embed-code').innerHTML = embedCode;
    //             console.log(embedCode)
    //           }
    //          }

</script>
