<body class="view">
<div class="search">
  <h1 class="music">お気に入りの音楽を見つけよう！</h1>
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<%= form_tag search_movie_posts_path do %>
<%= text_field_tag :search_word, @search_word %>
<%= submit_tag "search" %>
<% end %>
</div>
</body>
